.project
.settings/
.pydevproject
*.pyc
*.log
src/pywbem.egg-info
src/MANIFEST
src/MANIFEST.in
src/parser.out
src/pylint_done
src/build/
src/build_doc/
src/dist/
src/testsuite/runtests.log
src/testsuite/testtmp/
src/testsuite/schema/
src/epydoc-3.0.1-patches/
src/swig-2.0*.tar.gz
src/swig-2.0*/
