.project
/.settings/
.pydevproject
/.pytest_cache
/.cache/
/.tox/
/.virtualenv/
.ipynb_checkpoints/
*.pyc
*.pyo
*.log
*.tmp
tmp.*
*~
.*~
/pywbem/_vendor/
pywbem.egg-info
MANIFEST
/AUTHORS
/ChangeLog
/*.done
parser.out
moflog*.txt
test_recorder.yaml
pylint_done
/blah.yaml
.coverage
/coverage_html/
*.py,cover
cprofilerstats*.profile
/build/
/build_doc/
/build_build_ext/
/build_cythonize/
mofparsetab.py
_mofparsetab.py
moflextab.py
_moflextab.py
tests/runtests.log
/tests/testtmp/
/tests/schema/mof*/
server_definition_file.yml
/epydoc-3.0.1-patches/
swig-2.0*.tar.gz
/swig-2.0*/
/setupswig-2.0*/
setuptools-*.egg
setuptools-*.zip
/tmp_*/
/dist/pywbem*.tar.gz
/dist/pywbem*.whl
.DS_Store
