.project
.settings/
.pydevproject
*.pyc
*.log
pywbem.egg-info
MANIFEST
MANIFEST.in
parser.out
pylint_done
build/
build_doc/
dist/
testsuite/runtests.log
testsuite/testtmp/
testsuite/schema/
epydoc-3.0.1-patches/
swig-2.0*.tar.gz
swig-2.0*/
setupswig-2.0*/
setuptools-*.egg
setuptools-*.zip
