# git mailmap file for consolidating git commit names and email addresses
# For details, see: https://git-scm.com/docs/git-check-mailmap
#
# Format for replacing name and email based upon commit email:
#    Proper Name <proper@email.xx> <commit@email.xx>
#
Andreas Maier <andreas.r.maier@gmx.de> <andreas.r.maier@gmx.de>
Andreas Maier <andreas.r.maier@gmx.de> <andy-maier@users.noreply.github.com>
Andreas Maier <andreas.r.maier@gmx.de> <maiera@de.ibm.com>
Andreas Maier <andreas.r.maier@gmx.de> <MAIERA@de.ibm.com>
Karl Schopmeyer <karl.schopmeyer@gmail.com> <k.schopmeyer@swbell.net>
Karl Schopmeyer <karl.schopmeyer@gmail.com> <karl.schopmeyer@gmail.com>
Karl Schopmeyer <karl.schopmeyer@gmail.com> <k.schopmeyerwork@gmail.com>
Karl Schopmeyer <karl.schopmeyer@gmail.com> <kschopmeyer@inovaserver3.inovadevelopment.com>
Will Spearman <wspearman@sciencelogic.com> <wspearman@sciencelogic.com>
