# Control file for Travis CI (http://travis-ci.org)
# Must be located in the root directory of the Git repository.

sudo: required
language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

# commands to install dependencies
install:
  - python -c "import platform; print('Demonstration of incorrect distro returned by platform.linux_distribution():'); print(repr(platform.linux_distribution()))"
  - python -c "import pip, os; print('Site-packages directory of system Python:'); print(os.path.dirname(os.path.dirname(pip.__file__)))"
  - pip list
# TODO: Replace the following quick fix for installing swig with a real fix.
  - sudo apt-get install -y swig
# end of swig quick fix
  - pip install --upgrade pip
  - python uninstall_pbr_on_py26.py
  - make clobber
  - pip list
  - make develop
  - pip install python-coveralls
  - pip list

# commands to run builds & tests
script:
  - make check
  - make build
  - make builddoc
  - make test

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then coveralls; fi
