# Control file for Travis CI (http://travis-ci.org)
# Must be located in the root directory of the Git repository.

# By default, notification emails are sent to the PR creator and commiter.
notifications:
  email: false

sudo: required

# Disabling the distro, so we get the latest:
# dist:
#   - trusty

# We define the job matrix explicitly, in order to be able to minimize the
# combinations of runtime environments.
# For OS-X, using an explicit matrix is required anyway, because Travis at
# this point only has half-baked support for Python on OS-X that does
# not work. Also, on OS-X, it needs to be invoked with language=generic
# and an empty 'python' variable in order to prevent that Travis attempts
# to install Python.
matrix:
  include:
    - os: linux
      language: python
      python: "2.6"
    - os: linux
      language: python
      python: "2.7"
    - os: linux
      language: python
      python: "3.4"
#    - os: linux
#      language: python
#      python: "3.5"
    - os: linux
      language: python
      python: "3.6"
#    - os: linux
#      language: python
#      python: "pypy-5.3.1"  # Python 2.7.10
#    - os: osx
#      language: generic
#      python:
#      env:
#        - PYTHON=2
#    - os: osx
#      language: generic
#      python:
#      env:
#        - PYTHON=3

# commands to install dependencies
install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      if [[ "${PYTHON:0:1}" == "2" ]]; then
        export PYTHON_CMD=python;
        export PIP_CMD=pip;
      else
        export PYTHON_CMD=python3;
        export PIP_CMD=pip3;
      fi;
    else
      export PYTHON_CMD=python;
      export PIP_CMD=pip;
    fi;
    echo "PYTHON_CMD=$PYTHON_CMD";
    echo "PIP_CMD=$PIP_CMD"
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      if [[ "${PYTHON:0:1}" == "2" ]]; then
        OSX_PYTHON_PKG=python;
      else
        OSX_PYTHON_PKG=python3;
      fi;
      echo "OSX_PYTHON_PKG=$OSX_PYTHON_PKG";
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew ls --versions $OSX_PYTHON_PKG && brew upgrade $OSX_PYTHON_PKG || brew install $OSX_PYTHON_PKG;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      virtualenv venv -p $PYTHON_CMD && source venv/bin/activate;
    fi
  - env |sort
  - pip list
# TODO: Replace the following quick fix for installing swig with a real fix.
  - if [[ $TRAVIS_OS_NAME == linux ]]; then sudo apt-get install -y swig; fi
# end of swig quick fix
  - pip install --upgrade pip
  - python uninstall_pbr_on_py26.py
  - make clobber
  - pip list
# TODO: Replace the following quick fix for installing M2Crypto with a real fix.
# The problem happens only with Python 2.6 on Ubuntu 16.04, see pywbem issue #750.
  - if [[ -f /usr/include/x86_64-linux-gnu/openssl/opensslconf.h && ! -f /usr/include/openssl/opensslconf.h ]]; then echo "Linking openssl/opensslconf.h"; sudo ln -s /usr/include/x86_64-linux-gnu/openssl/opensslconf.h /usr/include/openssl/opensslconf.h; fi
  - find /usr/include -name "openssl*.h" -ls 2>/dev/null || true
# end of m2crypto quick fix
  - make develop
  - pip install python-coveralls
# Update coverage because the version defined for python-coveralls breaks
# some of our tests (they specify a specific version) see pr #734 where at
# least on python 2.6, the test_wbemcli.py code catches a deprecation warning
# from coverage 4.03 or earlier.
  - pip install -U coverage
  - pip list

# commands to run builds & tests
script:
  - make check
  - make build
  - make builddoc
  - make test

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then coveralls; fi
