# Pip requirements file for base packages for a Python env.
# Base packages are those needed for pip and automatic package version detection.

# Base dependencies (must be consistent with minimum-constraints-install.txt
# and build-system.requires in pyproject.toml)

pip>=25.0; python_version == '3.8'
pip>=25.2; python_version >= '3.9'
setuptools>=70.0.0
setuptools-scm>=9.2.0
wheel>=0.41.3
