# Pip requirements file for development dependencies.


# Direct dependencies for development and indirect dependencies for development
# that are needed for some reason (must be consistent with minimum-constraints-develop.txt)

# Build distribution archive
build>=1.1.1

# Change log
towncrier>=22.8.0

# Cythonize
Cython>=3.0.0

# Vendorize
vendorize>=0.3.0

# Coverage reporting (no imports, invoked via coveralls script):
# coverage is pinned to <7.0 to speed up pip; coveralls 3.3 also pins coverage<7.0
coverage>=6.5.0,<7.0
pytest-cov>=4.0.0
coveralls>=3.3.0

more-itertools>=4.0.0

# Safety CI by pyup.io
safety>=3.8.1
safety-schemas>=0.0.16
dparse>=0.6.4
ruamel.yaml>=0.19.1
Authlib>=1.6.12
marshmallow>=3.26.2
pydantic>=2.12.0
pydantic_core>=2.41.1
typer>=0.16.0
typer-cli>=0.16.0
typer-slim>=0.16.0
# safety 3.8.1 depends on ruststore>=0.10.4 only on Python>=3.10
truststore>=0.10.4; python_version >= '3.10'

# Tox
tox>=3.21.0

# Sphinx (no imports, invoked via sphinx-build script):
# Sphinx>=8.0.0 fails on autodocsumm with TypeError: "cannot unpack non-iterable ObjectMember object"
Sphinx>=7.2.4,<8.0.0
docutils>=0.18.1
sphinx-git>=10.1.1
GitPython>=3.1.50
Pygments>=2.20.0
sphinx-rtd-theme>=2.0.0
sphinxcontrib-applehelp>=1.0.4
sphinxcontrib-devhelp>=1.0.2
sphinxcontrib-htmlhelp>=2.0.1
sphinxcontrib-jquery>=4.1
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.3
sphinxcontrib-serializinghtml>=1.1.9
sphinxcontrib-websupport>=1.2.4
autodocsumm>=0.2.12
Babel>=2.11.0

# PyLint (no imports, invoked via pylint script)
pylint>=3.3.3; python_version == '3.9'
pylint>=4.0.4; python_version >= '3.10'
astroid>=3.3.8; python_version == '3.9'
astroid>=4.0.2; python_version >= '3.10'
lazy-object-proxy>=1.4.3
wrapt>=1.17.0
# platformdirs is also used by tox
platformdirs>=4.3.6
isort>=5.0.9
tomlkit>=0.10.1
dill>=0.3.7

# Flake8 and dependents (no imports, invoked via flake8 script):
# flake8 5.x and 6.x report false positive E231 "missing whitespace after ':'"
#   for ':' used in f-strings. This was fixed in pycodestyle 2.11.0, which
#   requires using flake8>=7.0.0.
# Dependencies on mccabe:
#   pylint 2.15.0 depends on mccabe >=0.6,<0.8 (python 3.11)
#                 and on astroid>=2.12.4,<=2.14.0-dev0
#   pylint 3.0.1 depends on mccabe >=0.6,<0.8
#   flake8 7.0.0 depends on mccabe >=0.7.0,<0.8.0
flake8>=7.0.0
mccabe>=0.7.0
pycodestyle>=2.11.0
pyflakes>=3.2.0

# entrypoints is used by keyring
entrypoints>=0.3.0

# Ruff checker
ruff>=0.3.5

# Jupyter Notebook (no imports, invoked via jupyter script):
# Note: The packages for Jupyter Notebook are prone to causing endless pip backtracking when
#       installed with minimum versions. This was addressed by pinning the package versions
#       to a maximum in order to reduce the search space for pip.
# Note: notebook 6.5.1 starts using nbclassic which seems to introduce some challenges for pip
#       dependency resolution, so for now we pin notebook to <6.5.
# TODO: Re-enable for Python 3.13 on Windows once pywin32 install issue is solved, see
#       https://github.com/mhammond/pywin32/issues/2367
notebook>=7.5.6; sys_platform != 'win32' or python_version <= '3.12'
ipykernel>=6.31.0; sys_platform != 'win32' or python_version <= '3.12'
ipython-genutils>=0.2.0; sys_platform != 'win32' or python_version <= '3.12'
ipython>=8.18.1; sys_platform != 'win32' or python_version <= '3.12'
ipywidgets>=8.1.8; sys_platform != 'win32' or python_version <= '3.12'
jupyter_client>=8.6.3; sys_platform != 'win32' or python_version <= '3.12'
jupyter-console>=6.6.3; sys_platform != 'win32' or python_version <= '3.12'
jupyter_core>=5.8.1; sys_platform != 'win32' or python_version <= '3.12'
jupyter_server>=2.18.2; python_version == '3.9' and (sys_platform != 'win32' or python_version <= '3.12')
jupyter_server>=2.20.0; python_version >= '3.10' and (sys_platform != 'win32' or python_version <= '3.12')
jupyter>=1.1.1; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab_pygments>=0.3.0; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab_server>=2.28.0; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab_widgets>=3.0.16; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab>=4.5.9; sys_platform != 'win32' or python_version <= '3.12'
nbclient>=0.10.2; sys_platform != 'win32' or python_version <= '3.12'
nbconvert>=7.17.1; sys_platform != 'win32' or python_version <= '3.12'
nbformat>=5.10.4; sys_platform != 'win32' or python_version <= '3.12'
notebook_shim>=0.2.4; sys_platform != 'win32' or python_version <= '3.12'

# Pywin32 is used (at least?) by jupyter.
# Pywin32 version 226 needs to be excluded, see issues #1946 and #1975.
# pywin32 version 302 added support for Python 3.10
# pywin32 version 303 added support for Python 3.11
pywin32>=303; sys_platform == 'win32' and python_version <= '3.11'
# TODO: Re-enable for Python 3.13 once pywin32 install issue is solved, see
#       https://github.com/mhammond/pywin32/issues/2367
pywin32>=306; sys_platform == 'win32' and python_version == '3.12'

# pywinpty is used by terminado <- notebook <- jupyter
pywinpty>=2.0.12; sys_platform == 'win32' and python_version <= '3.12'
pywinpty>=3.0.2; sys_platform == 'win32' and python_version >= '3.13'

# Table output formatter used by the manual performance tests to display timing results
tabulate>=0.8.3

# Performance profiling tools
# pyinstrument 4.7.2 added wheel files for Python 3.13
pyinstrument>=3.0.1; python_version <= '3.11'
pyinstrument-cext>=0.2.2; python_version <= '3.11'  # from pyinstrument
pyinstrument>=4.7.2; python_version >= '3.12'    # pyinstrument-cext integrated

# Package dependency management tools
pipdeptree>=2.24.0
# pip-check-reqs 2.3.2 is needed to have proper support for pip>=21.3 and below.
# pip-check-reqs 2.4.3 fixes a speed issue on Python 3.11.
# pip-check-reqs 2.5.0 has issue https://github.com/r1chardj0n3s/pip-check-reqs/issues/143
pip-check-reqs>=2.4.3,!=2.5.0; python_version <= '3.11'
pip-check-reqs>=2.5.1; python_version >= '3.12'


# Dependencies to reduce backtracking time (must be consistent with minimum-constraints-develop.txt)
