# Pip requirements file for pywbem runtime dependencies.
#
# The order of packages is significant, because pip processes them in the order
# of appearance.

# Make sure that the package versions in minimum-constraints.txt are also
# the minimum versions required in requirements.txt and dev-requirements.txt.


# Direct dependencies (except pip, setuptools, wheel):

pbr>=1.10.0
six>=1.10.0
ply>=3.10
PyYAML>=3.12  # yaml package
# On Windows, M2Crypto must be installed via pywbem_os_setup.bat
M2Crypto>=0.30.1; python_version < '3.0' and sys_platform != 'win32'
ordereddict>=1.1; python_version == '2.6'
mock>=2.0.0
