# Pip requirements file for pywbem install.#
#
# The order of packages is significant, because pip processes them in the order
# of appearance.

# Make sure that the minimum versions required in this file are also the
# versions defined in minimum-constraints.txt.


# Direct dependencies (except pip, setuptools, wheel):

# On Windows, M2Crypto must be installed via pywbem_os_setup.bat
M2Crypto>=0.31.0; python_version < '3.0' and sys_platform != 'win32'
mock>=2.0.0
ordereddict>=1.1; python_version == '2.6'
pbr>=1.10.0
ply>=3.10
PyYAML==3.11; python_version == '2.6'  # yaml package
PyYAML>=3.13; python_version >= '2.7'  # yaml package
six>=1.10.0


# Indirect dependencies are no longer specified here, but for testing with a
# minimum version, they are listed in the minimum-constraints.txt file.
