# Requirements for building pywbem docs with Sphinx at readthedocs.org
#
# The order of packages is significant, because pip processes them in the order
# of appearance.

pbr>=1.10.0
six>=1.10.0
ply>=3.10
PyYAML==3.11; python_version == '2.6'  # yaml package
PyYAML>=3.13; python_version >= '2.7'  # yaml package
# M2Crypto>=0.31.0  # we cannot install M2Crypto because RTD does not have Swig
Sphinx>=1.7.6
sphinx-git>=10.1.1
