# Pip requirements file for test dependencies.

# These dependencies have been separated from the other development dependencies
# in dev-requirements.txt in order to be able to run tests from just the
# source archive using 'setup.py test', without having the rest of the files
# in the repo.


# Direct dependencies for test and indirect dependencies for test that are
# needed for some reason (must be consistent with minimum-constraints-develop.txt)

# six
# urllib3 1.26.5 vendors six 1.16.0 which is needed on Python 3.10 to remove ImportWarning
six>=1.14.0; python_version <= '3.9'
six>=1.16.0; python_version >= '3.10'

# Unit test (imports into testcases):
# setuptools>=77.0.0 requires packaging>=24.2 to work properly
packaging>=24.2
pytest>=8.0.2
testfixtures>=6.9.0
# pylint>=2.15 requires colorama>=0.4.5
colorama>=0.4.5
# FormEncode is used for xml comparisons in unit test
# FormEncode 2.1.1 added support for Python 3.13
FormEncode>=2.1.1

# Easy-server packages
easy-vault>=0.7.0
easy-server>=0.8.0
pytest-easy-server>=0.8.0
cryptography>=43.0.1
keyring>=18.0.0

# jsonschema 4.18.0 required by jupyter-events 0.9.1
jsonschema>=4.18.0

requests-mock>=1.6.0
requests-toolbelt>=0.8.0
yagot>=0.5.0

importlib-metadata>=4.8.3

# tzdata is needed by zoneinfo on systems with no timezone database (e.g. Windows)
tzdata>=2024.1; sys_platform == 'win32'

# Unit test (indirect dependencies):

pluggy>=1.3.0

decorator>=4.0.11

# Lxml
lxml>=6.0.2

virtualenv>=20.26.6
