Source: pywbem
Section: python
XS-Python-Version: all
Priority: optional
Maintainer: Tim Potter <tpot@hp.com>
Build-Depends: debhelper (>= 5.0.38), python-all-dev (>= 2.3.5-11), python-central (>= 0.5.6)
Standards-Version: 3.6.2

Package: python-pywbem
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Python WBEM client
 PyWBEM is a Python library for making CIM operations over HTTP using the 
 WBEM CIM-XML protocol.  WBEM is a manageability protocol, like SNMP,
 standardised by the Distributed Management Task Force (DMTF) available
 at http://www.dmtf.org/standards/wbem.
